# URL da API backend. Em dev, use o IP da SUA MAQUINA na rede local.
# Descubra com:  hostname -I | awk '{print $1}'
# Exemplo:       http://192.168.0.10:3000
EXPO_PUBLIC_API_BASE_URL=http://SEU_IP_LOCAL:3000
